@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

html, body {
    margin: 0px;
    font-family: 'Noto Sans TC';
    background-color: black;
    color: black;
    height: 100%;
    padding: 0;
}
body{
    width: 1903px;
    overflow: auto;
}

/*201710*/
#UQ, #UQ2, #BlackClover, #BlackClover2,
#Senkoku1, #Senkoku2{
    background-color: rgba(128, 128, 128,0.3);
    background-size: auto;
    padding-top: 55px;
    padding-bottom: 445px;
}
#taisen, #taisen2, #sns, #sns2{
    background-color: rgba(128, 128, 128,0.3);
    background-size: auto;
    padding-top: 55px;
    padding-bottom: 445px;
}
#UQ2{
    padding-bottom: 460px;
}
#Senkoku2{
    padding-bottom: 520px;
}
#taisen2{
    padding-bottom: 350px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

.horizontal-line, .horizontal-line2{
    background-color: white;
    opacity: 0.4;
    height: 5px;
}

.logo{
    text-align:center; 
    float: left; 
    margin-top: 100px;
    margin-left: 3vw;
}
.logo .uqlogo, .logo .bclogo, .logo .snblogo,
.logo .tlogo, .logo .snslogo{
    width: 200px; 
    height: auto;
}

.logo #logo1{
    font-size: 25px;
}
.logo #logo2{
    font-size: 18px;
}

p{  
    color: white;
}

.story, .story2{
    width: 500px; 
    margin-left:100px; 
    margin-top: 40px; 
    float: left;
}
.story2{
    width: 550px; 
    height: 343px;
    overflow: auto;
}
.story p, .story2 p{
    font-size: 20px;
}
.story b, .story2 b{
    font-size: 25px;
}

.video, .video2{
    float: left;
    margin-left: 20px; 
    margin-right: 3vw;
}

/* Style the tab */
.tab, .tab2 {
    margin-left: 2vw;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100px;
    height: 394px;
}

/* Style the buttons inside the tab */
.tab button, .tab2 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 197px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover, .tab2 button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active, .tab2 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent, .tabcontent2 {
    float: left;
    padding: 0px 0px;
    border: 1px solid #ccc;
    width: 700px;
    border-left: none;
    height: 394px;
}

video{
    width: 700px;
    height: auto;
}

.staff1, .staff2, .cast1, .cast2{
    margin-left:5vw;
    float: left;
}
.staff1{
    margin-left:13vw;
}
.staff1 p, .staff2 p, .cast1 p, .cast2 p{
    font-size: 20px;
}
.staff1 p b, .cast1 p b{
    font-size: 30px;
}
.staff2 p, .cast2 p{
    margin-top: 85px;
}

.video2{
    margin-left: 100px;  
}




/*Side Navigation*/
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: #FD7F7F;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    padding-top:0;  
    position: fixed;
    color: white;
}

#content{
    transition: margin-left .5s;
}

/*Top Button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #FD7F7F;
  }

  .top{
    margin-top: 5px;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }