@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

html, body {
    margin: 0px;
    font-family: 'Noto Sans TC';
    background-color: black;
    color: black;
    height: 100%;
    padding: 0;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color:rgba(255,255,255,0.2);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
}

/* Links inside the navbar */
.navbar a {
    margin-left: 16vw;
    width: 10%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar:hover a{
    cursor: pointer;
}
a:hover{
    transition: 0.5s;
    color: #FFAEAE;
}
.navbar .content{    
    text-align: center;
}
.container:hover a{
    cursor: default;
}
.container .text1:after{
    content:'2018年1月新番';
}

.container:hover .text1:after{
    transition: .3s ease;
    content: '建設中...';
    cursor: default;
}

@media only screen and (max-width: 1200px) {
    .navbar {
        height: 20%;
    }
    .navbar a{
        font-size:30px;
        width: 25%;
        margin-top: 50px;
        margin-left:2vw;
    }
}

/*Index*/
.bgimg {
    bottom: -1vw;
    width: 100%;
    height: 70%;
    opacity: 0.9;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 43%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #000;
}

.caption span.border {
    color: #FFF;
    padding: 18px;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: 'Montserrat';
}

.caption span.border2 {
    color: #FFF;
    padding: 18px;
    font-size: 70px;
    letter-spacing: 2px;
}